<p>This User Your feed , <%=@user.username%>.</p>
<%= link_to "Log Out", logout_path , method: :delete%>


<div id= "images">
    <% @posts.each do |post| %>
        <div class="post_image"><%= image_tag post.image%></div>
    <%end%>
</div>