#navbar ul{  
    display: flex;
    flex-wrap: wrap ;
    justify-content: space-between ;
}

#navbar li{
    margin-right: 50px;
    list-style-type: none;
    text-decoration: none;
}

#navbar img{
    width: 32px;
    height: auto;
}

#navbar{
    border-bottom: .5px solid;
    margin-bottom: 30px;
}