#user_images{
    display: flex;    
    flex-wrap: wrap ;
    justify-content: center;
    margin-top: 100px;
}

.post_image  {
    width: 275px;
    height: 275px;
    margin: 9px;
    overflow: hidden;
}

.post_image img{
    position: sticky;
    margin-left: -40%;
    margin-right: auto;
    margin-top: -5px;

}

h1{
    text-align: center;
}