
#images{
    display: flex;    
    flex-wrap: wrap ;
    margin-top: 145px;
    margin-left: 20%;
}

.post_image  {
    width: 315px;
    height: 315px;
    margin: 9px;
    overflow: hidden;
}

.post_image img{
    position: sticky;
    margin-left: -40%;
    margin-right: auto;
    margin-top: -5px;

}

h1{
    text-align: center;
}